.hero {
    width: 100%;
    height: 100svh;
    position: relative;
    overflow: hidden;

    .overlay {
        width: 100%;
        height: 100%;
        background-color: var(--dark);
        opacity: 0.3;
        position: absolute;
        top: 0;
        left: 0;
    }

    .hero-img {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .title {
        font-size: var(--step-6);
        position: absolute;
        line-height: 0.8;
        bottom: 0;
        left: var(--space-s);
        letter-spacing: -1px;
    }
    
    .subtitle {
        position: absolute;
        top: 55vh;
        transform: translateY(-50%);
        right: var(--space-l);
        width: 400px;
        z-index: 3;

        h2 {
            font-size: var(--step-0-1);
            line-height: 1.5;
            font-weight: 700;
            color: var(--light);
            letter-spacing: -1px;
        }

        span {
            font-weight: 400;
            opacity: 0.8;
        }
    }
}