.navbar {
    position: relative;
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 999;

    .nav {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: var(--space-2xs-s) var(--space-s);
        position: relative;

        .logo {
            font-family: 'Didot';
            font-size: var(--step-1);
            color: var(--light);
            letter-spacing: 4px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .menu-button,
        .book-button {
            display: flex;
            column-gap: var(--space-3xs);
            align-items: center;
            background-color: transparent;
            border: transparent;
            cursor: pointer;
            z-index: 999;

            .symbol {
                position: relative;
                width: 2.5rem;
                height: 0.4rem;
            }

            .button-text-wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                overflow: hidden;
                font-size: var(--step--1);
                color: var(--light);
                line-height: 1;
                font-weight: 300;
                height: var(--step--1);

                .button-text {
                    transition: 0.6s transform ease;
                }

                &.slide-up {
                    .button-text {
                        transform: translateY(-100%);
                    }
                }                
            }
        }

        .menu-button {
            .symbol {
                .hamburger, .close {
                    position: absolute;
                    display: flex;
                    width: 100%;
                    height: 100%;

                    &::before, &::after {
                        content: '';
                        height: 1px;
                        background-color: var(--light);
                        transition: width 0.3s linear;
                        transform-origin: left;
                    }
                }

                .hamburger {
                    flex-direction: column;
                    justify-content: space-between;

                    &::before {
                        width: 2.5rem;
                        transition-delay: 0.45s;
                    }

                    &::after {
                        width: 1.25rem;
                        transition-delay: 0.6s;
                    }
                }

                .close {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    flex-direction: column;
                    height: 15px;
                    width: 15px;

                    &::before, &::after {
                        width: 0;
                    }

                    &::before {
                        rotate: 45deg;
                    }
                    
                    &::after {
                        rotate: -45deg;
                        transition-delay: 0.15s;
                    }
                }

                &.active {
                    .hamburger {
                        &::before, &::after {
                            width: 0;
                        }

                        &::before {
                            transition-delay: 0s;
                        }
                        
                        &::after {
                            transition-delay: 0.15s;
                        }
                    }
                    
                    .close {
                        &::before, &::after {
                            width: 1.25rem;
                        }

                        &::before {
                            transition-delay: 0.45s;
                        }
                        
                        &::after {
                            transition-delay: 0.6s;
                        }
                    }
                }
            }
        }
        
        .book-button {
            .symbol {
                display: flex;
                align-items: center;
                justify-content: center;

                .arrow {
                    position: relative;
                    width: 2.5rem;
                    height: 1px;
                    background-color: var(--light);
                    transform-origin: right;

                    &::before,
                    &::after {
                        content: '';
                        position: absolute;
                        width: 0.3rem;
                        height: 1px;
                        background-color: var(--light);
                        right: 0;
                        top: 0;
                        transform-origin: right;
                    }
                
                    &::before {
                        transform: rotate(45deg);
                    }

                    &::after {
                        transform: rotate(-45deg);
                    }
                }
            }

            .icon {
                width: var(--step-1);
                height: var(--step-1);
                color: var(--light);
                display: none;
            }
        }

        .menu {
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            transition: width 0s none;
            transition-delay: 1.21s;

            .menu-items {
                display: flex;
                width: 100%;
                height: 100svh;
                list-style: none;

                .menu-item {
                    display: flex;
                    width: 25%;
                    height: 100%;
                    border-right: 1px solid var(--light);
                    background-color: var(--dark);
                    animation: slideOutY 1s ease forwards;

                    &:nth-child(1) {
                        animation-delay: 0s;
                    }
                    &:nth-child(2) {
                        animation-delay: 0.07s;
                    }
                    &:nth-child(3) {
                        animation-delay: 0.14s;
                    }
                    &:nth-child(4) {
                        animation-delay: 0.21s;
                    }

                    .link {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: flex-end;
                        justify-content: space-between;
                        padding-left: var(--space-s);
                        padding-bottom: var(--space-s);

                        .link-text-wrapper {
                            overflow: hidden;
                        
                            .link-number, .link-name {
                                display: flex;
                                
                                .link-text {                                
                                    color: var(--light);
                                    font-family: 'Didot';
                                    line-height: 1;
                                    width: fit-content;
                                    height: fit-content;
                                    
                                }
                            }

                            .link-number {
                                flex-direction: column;
                                height: var(--step-3);
                                width: 100%;

                                .link-text {
                                    font-size: var(--step-3);
                                }
                            }

                            .link-name {
                                width: calc(var(--step-6) / 2);

                                .link-text {
                                    font-size: calc(var(--step-6) / 2);
                                    writing-mode: vertical-rl;
                                    rotate: 180deg;
                                }
                            }
                        }

                        &:hover {
                            .link-text-wrapper {
                                .link-number .link-text,
                                .link-name .link-text {
                                    color: var(--accent);
                                    transition: color 0.3s ease, transform 0.5s ease;
                                }

                                .link-number .link-text {
                                    transform: translateY(-100%);
                                }
                                
                                .link-name .link-text {
                                    transform: translateX(100%);
                                }
                            }
                        }
                    }

                    &:last-child {
                        border-right: none;
                    }
                }
            }
            
            &.active {
                width: 100%;
                transition: width 0s none;
                transition-delay: 0s;
                
                .menu-items .menu-item {
                    animation: slideInY 1s ease forwards;
                    transform: translateY(100%);

                    &:nth-child(1) {
                        animation-delay: 0s;
                    }
                    &:nth-child(2) {
                        animation-delay: 0.07s;
                    }
                    &:nth-child(3) {
                        animation-delay: 0.14s;
                    }
                    &:nth-child(4) {
                        animation-delay: 0.21s;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1000px) {
        .nav {
            .book-button {
                .button-text-wrapper {
                    display: none;
                }

                .arrow {
                    display: none;
                }

                .icon {
                    display: flex;
                }
            }

            .menu-button {
                .button-text-wrapper {
                    display: none;
                }

                .symbol {
                    .close {
                        top: 50%;
                        left: 0;
                        transform: translate(0, -50%);
                    }
                }
            }
        }
    }

    @media screen and (max-width: 600px) {
        .nav .menu {
            .menu-items {
                flex-direction: column;

                .menu-item {
                    width: 100%;
                    border-right: none;
                    border-bottom: 1px solid var(--light);
                    animation: slideOutX 1s ease forwards;

                    &:last-child {
                        border-bottom: none;
                    }

                    .link {
                        padding: var(--space-s);
                        
                        .link-text-wrapper {
                            .link-name {
                                width: 100%;
                                height: calc(var(--step-6) / 2);
                                flex-direction: column;

                                .link-text {
                                    rotate: 0deg;
                                    writing-mode: horizontal-tb;
                                }
                            }
                        }

                        &:hover {
                            .link-text-wrapper {
                                .link-number .link-text {
                                    transform: translateY(-100%);
                                }
                                
                                .link-name .link-text {
                                    transform: translateY(-100%);
                                }
                            }
                        }
                    }
                }  
            }

            &.active {
                .menu-items .menu-item {
                    animation: slideInX 1s ease forwards;
                    transform: translateX(100%);
                }
            }
        }
    }
}

@keyframes slideInY {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
}

@keyframes slideOutY {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
}

@keyframes slideInX {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
}

@keyframes slideOutX {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
}