.navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: transparent;
    box-sizing: border-box;
    z-index: 999;
    transition: background-color 0.5s ease,
                transform 0.3s ease;

    &.disappear {
        transform: translateY(-100px);
    }

    nav {
        width: 100%;
        height: inherit;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: calc(2 * var(--space-s));

        &.desktop {
            &.dark {
                background-color: var(--bg-color);
                box-shadow: rgba(149, 157, 165, 0.2) 0px -4px 12px;
            }

            .menu {
                display: flex;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                height: 100%;
                column-gap: var(--space-l);
                align-items: center;
            
                ul {
                    display: flex;
                    height: 100%;
                    align-items: center;
                    justify-content: center;
                    list-style: none;

                    li {
                        position: relative;
                        display: block;
                        font-size: 16px;
                        font-weight: 400;
                        margin-right: var(--space-l);
                        padding: 2px 0;
                        transition: 0.3s ease;
                        opacity: 0.6;
                        text-wrap: nowrap;

                        &.selected {
                            opacity: 1;
                        }

                        &:hover {
                            opacity: 0.9;

                            &::before,
                            &::after {
                                transform: translateX(8px);
                            }
                        }

                        &:last-child {
                            margin-right: 0;
                        }

                        a {
                            color: var(--bg-color);
                            transition: 0.3s ease;
                        }
                    }

                    &.dark li a {
                        color: var(--text-color);
                    }
                }

                
            }
            .button.empty {
                border-color: #f4f3f299;
                color: #f4f3f2;
                font-weight: 400;

                &:hover {
                    border-color: var(--bg-color);
                }

                &.dark {
                    border-color: #1e1f1388;
                    color: var(--text-color);

                    &:hover {
                        border-color: var(--text-color);
                    }
                }
            }
        }

        &.mobile {
            display: none;

            .menu {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: c;
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100vh;
                list-style: none;
                z-index: -1;
                background-color: var(--bg-color);
                display: flex;
                flex-direction: column;
                opacity: 0;
                visibility: hidden;
                pointer-events: none;
                transition: opacity 0.3s ease, visibility 0.3s ease;
                padding: 80px var(--space-m);

                /* &::before {
                    content: '';
                    position: absolute;
                    width: inherit;
                    height: inherit;
                    top: 0;
                    left: 0;
                    z-index: 0;
                    opacity: 0.3;
                    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/paper-pattern.png");
                } */

                &.active {
                    opacity: 1;
                    visibility: visible;

                    ul {
                        li {
                            animation: slide-up 1.5s ease forwards;
                            transition: padding 0.3s;

                            a {
                                color: var(--text-color);
                            }
                        
                            &::before,
                            &::after {
                                transform: scaleY(0);
                                transform-origin: top;
                                transition: transform ease 1s;
                            }

                            &:nth-child(1) {
                                animation-delay: 0.1s;
                                &::before,
                                &::after {
                                    transition-delay: 0.1s;
                                }
                            }
                            &:nth-child(2) {
                                animation-delay: 0.2s;
                                &::before,
                                &::after {
                                    transition-delay: 0.2s;
                                }
                            }
                            &:nth-child(3) {
                                animation-delay: 0.3s;
                                &::before,
                                &::after {
                                    transition-delay: 0.3s;
                                }
                            }
                            &:nth-child(4) {
                                animation-delay: 0.4s;
                                &::before,
                                &::after {
                                    transition-delay: 0.4s;
                                }
                            }
                            &:nth-child(5) {
                                animation-delay: 0.5s;
                                &::before,
                                &::after {
                                    transition-delay: 0.5s;
                                }
                            }
                            &:nth-child(6) {
                                animation-delay: 0.6s;
                                &::before,
                                &::after {
                                    transition-delay: 0.6s;
                                }
                            }
                            &:nth-child(7) {
                                animation-delay: 0.7s;
                                &::before,
                                &::after {
                                    transition-delay: 0.7s;
                                }
                            }
                        }
                    }
                }

                ul {
                    margin-top: var(--space-l);

                    li {
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: fit-content;
                        padding: var(--space-2xs) 0;
                        font-size: var(--step-3);
                        line-height: var(--step-3);
                        font-weight: 300;
                        cursor: pointer;

                        &:hover {
                            padding: var(--space-2xs) var(--space-l);
                        }

                        &::before {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: var(--bg-color);
                        }

                        /* &::after {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/paper-pattern.png");
                            opacity: 0.3;
                        } */
                    }
                }

                .menu-bottom {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    opacity: 0;
                    transform: translate(0, 10px);
                    transition: opacity 0.5s ease-in, transform 0.5s ease-in;

                    &.active {
                        opacity: 1;
                        transform: translate(0, 0);
                    }

                    .socials {
                        display: flex;
                        margin-bottom: var(--space-s);

                        a {
                            margin-right: var(--space-s);

                            &:last-child {
                                margin-right: 0;
                            }
                        }

                        .social-icon {
                            font-size: var(--step-3);
                        }
                    }

                    .button.filled {
                        width: 100%;
                        padding: var(--space-m);
                        margin-bottom: var(--space-s);
                    }

                    .copyright {
                        font-size: var(--step--1);
                        opacity: 0.6;
                    }
                }
            }
        }
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        color: var(--bg-color);
        font-size: 40px;
        font-family: 'Carmorant Garamond';
        cursor: pointer;
        font-weight: 400;
        transition: 0.3s ease;

        span {
            font-family: 'Carmorant Garamond';
        }

        &.dark {
            color: var(--text-color);
        }
    }

    .hamburger-container {
        position: relative;
        width: 40px;
        aspect-ratio: 1;
        
        .hamburger {
            position: absolute;
            width: 25px;
            height: 25px;
            border: transparent;
            background-color: transparent;
            display: flex;
            flex-direction: column;
            row-gap: 2px;
            justify-content: center;
            cursor: pointer;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            .top, .middle, .bottom {
                height: 4px;
                background-color: var(--bg-color);
                transform: scaleX(1);
                transform-origin: left;
                transition: transform 0.5s ease-in-out, 
                            opacity 0.5s ease-in-out;
            }
            
            .top {
                width: 21px;
                transition-delay: 0.5s;
            }

            .middle {
                width: 25px;
                transition-delay: 0.6s;
            }

            .bottom {
                width: 18px;
                transition-delay: 0.7s;
            }

            &.selected {
                .top, .middle, .bottom {
                    transform: scaleX(0);
                    opacity: 0;
                }

                .top {
                    transition-delay: 0s;
                }
    
                .middle {
                    transition-delay: 0.1s;
                }
    
                .bottom {
                    transition-delay: 0.2s;
                }
            }
        }

        .close {
            position: absolute;
            width: 100%;
            height: 100%;
            border: transparent;
            background-color: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            .top, .bottom {
                position: absolute;
                width: 25px;
                height: 4px;
                transition: 0.5s ease-in-out;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0;
                    height: 100%;
                    background-color: var(--text-color);
                    transition: 0.5s;
                }
            }

            .top {
                rotate: 45deg;
            }

            .bottom {
                rotate: -45deg;

                &::before {
                    transition-delay: 0.1s;
                }
            }

            &.selected {
                .top, .bottom {
                    opacity: 1;
                    width: 25px;

                    &::before {
                        width: 100%;
                    }
                }

                .top::before {
                    transition-delay: 0.5s;
                }

                .bottom::before {
                    transition-delay: 0.6s;
                }
            }
        }

        &.dark .hamburger {
            .top, .middle, .bottom {
                background-color: var(--text-color);
            }
        }
    }

    @media screen and (max-width: 1300px) {
        nav.desktop {
            display: none;
        }

        nav.mobile {
            display: flex;
        }

        &.disappear {
            transform: translateY(0);
        }
    }
}

@media screen and (max-width: 1000px) {
    .navbar {
        top: 0; 
        height: 80px;

        nav.mobile {
            padding: 0 calc(2 * var(--space-xs));

            .menu {
                top: calc(-2 * var(--space-s));
            }
        }
    }
}

@keyframes slide-up {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
}
  