.intro {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    height: 100svh;

    .cell {
        z-index: 1;
        display: grid;
        height: 100%;
        align-content: center;
        padding: 0 var(--space-xl);

        &.top-left {
            grid-row: 1 / span 1;
            grid-column: 1 / span 2;
        }
        
        &.bottom-right {
            grid-row: 3 / span 1;
            grid-column: 3 / span 1;
        }
        
    }
}

