.intro {
    position: relative;
    display: flex;
    flex-direction: column;

    .top,
    .bottom {
        position: relative;
        width: 100%;
        display: flex;
        padding: 0 120px;
        margin-top: 120px;
    }

    .top {
        p {
            font-size: var(--step-4);
            opacity: 0.5;
            max-width: 60%;
            line-height: 1.2;
        }

        .button2 {
            position: absolute;
            bottom: 120px;
            right: 120px;
        }
    }

    .bottom {
        justify-content: flex-end;

        p {
            font-size: var(--step-1);
            max-width: 400px;
            margin-right: 120px;
        }
    }

    .images {
        display: flex;
        column-gap: var(--space-m);
        padding: 0 120px;
        margin-top: 120px;

        .left,
        .right {
            display: flex;
            flex-direction: column;
            width: 50%;
            aspect-ratio: 0.8;

            img {
                object-fit: cover;
                width: 100%;
                aspect-ratio: 1;
                border-radius: 12px;
            }
        }

        .left {
            justify-content: flex-start;
        }
        
        .right {
            justify-content: flex-end;
        }
    }

    .bottom {

    }
}

