@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

:root {
  font-family: "Darker Grotesque", sans-serif;

  --light: #f4f3f2;
  --dark: #222;
  --primary-color: #F6E9E4;
  --accent: #D9B8A6;

  --step--2: clamp(0.5556rem, 0.7143rem + -0.0992vw, 0.6944rem);
  --step--1: clamp(0.8333rem, 0.8333rem + 0vw, 0.8333rem);
  --step-0: clamp(1rem, 0.9643rem + 0.1786vw, 1.25rem);
  --step-1: clamp(1.2rem, 1.1036rem + 0.4821vw, 1.875rem);
  --step-2: clamp(1.44rem, 1.2439rem + 0.9804vw, 2.8125rem);
  --step-3: clamp(1.728rem, 1.3722rem + 1.7791vw, 4.2188rem);
  --step-4: clamp(2.0736rem, 1.4658rem + 3.0389vw, 6.3281rem);
  --step-5: clamp(2.4883rem, 1.4878rem + 5.0028vw, 9.4922rem);
  --step-6: clamp(2.986rem, 1.3785rem + 8.0374vw, 14.2383rem);

  /* @link https://utopia.fyi/space/calculator?c=320,16,1.2,2560,20,1.5,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|4,s-l&g=s,l,xl,12 */

  --space-3xs: clamp(0.25rem, 0.2411rem + 0.0446vw, 0.3125rem);
  --space-2xs: clamp(0.5rem, 0.4821rem + 0.0893vw, 0.625rem);
  --space-xs: clamp(0.75rem, 0.7232rem + 0.1339vw, 0.9375rem);
  --space-s: clamp(1rem, 0.9643rem + 0.1786vw, 1.25rem);
  --space-m: clamp(1.5rem, 1.4464rem + 0.2679vw, 1.875rem);
  --space-l: clamp(2rem, 1.9286rem + 0.3571vw, 2.5rem);
  --space-xl: clamp(3rem, 2.8929rem + 0.5357vw, 3.75rem);
  --space-2xl: clamp(4rem, 3.8571rem + 0.7143vw, 5rem);
  --space-3xl: clamp(4rem, 3.8571rem + 0.7143vw, 5rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, 0.1964rem + 0.2679vw, 0.625rem);
  --space-2xs-xs: clamp(0.5rem, 0.4375rem + 0.3125vw, 0.9375rem);
  --space-xs-s: clamp(0.75rem, 0.6786rem + 0.3571vw, 1.25rem);
  --space-s-m: clamp(1rem, 0.875rem + 0.625vw, 1.875rem);
  --space-m-l: clamp(1.5rem, 1.3571rem + 0.7143vw, 2.5rem);
  --space-l-xl: clamp(2rem, 1.75rem + 1.25vw, 3.75rem);
  --space-xl-2xl: clamp(3rem, 2.7143rem + 1.4286vw, 5rem);
  --space-2xl-3xl: clamp(4rem, 3.8571rem + 0.7143vw, 5rem);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  position: relative;
  color: var(--light);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::selection {
  background-color: var(--accent);
}

p {
  font-size: var(--step-0);
  opacity: 0.7;
}
h6 {
  font-size: var(--step-1);
}
h5 {
  font-size: var(--step-2);
  letter-spacing: -1px;
  font-weight: 500;
  font-family: 'Cormorant Garamond';
  line-height: 1;
}
h4 {
  font-size: var(--step-3);
  letter-spacing: -1px;
  font-weight: 500;
  font-family: 'Cormorant Garamond';
  line-height: 1;
}
h3 {
  font-size: var(--step-4);
  letter-spacing: -1px; 
  font-weight: 500;
  font-family: 'Cormorant Garamond';
  line-height: 1;
}
h2 {
  font-size: var(--step-5);
  letter-spacing: -5px;
  font-weight: 500;
  font-family: 'Cormorant Garamond';
  line-height: 1;
}
h1 {
  font-size: var(--step-6);
  letter-spacing: -3px;
  font-weight: 500;
  font-family: 'Cormorant Garamond';
  line-height: 1;
}

a {
  text-decoration: none;
}

.button {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #f4f3f2aa;
  border-radius: 30px;
  padding: 12px 40px;
  transition: 0.5s ease;
  cursor: pointer;
  
  .button-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    height: var(--step-1);

    .button-content {
      color: var(--light);
      font-size: var(--step-1);
      line-height: 1;
      transition: 0.5s ease;
    }
  }

  .button-icon-wrapper {
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    width: 24px;
    rotate: -45deg;

    .button-icon {
      color: var(--light);
      font-size: 24px;
      line-height: 24px;
      width: 24px;
      transition: 0.5s ease;
    }
  }
  
  &:hover {
    border-color: var(--light);

    .button-content-wrapper .button-content {
      transform: translateY(-100%);
    }

    .button-icon-wrapper .button-icon {
      transform: translateX(100%);
    }
  }
}

.button2 {
  background-color: transparent;
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
  transition: 0.5s ease;
  cursor: pointer;

  .button-content-wrapper {
    display: flex;
    align-items: center;
    column-gap: var(--space-m);
    
    .button-icon-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: var(--space-s);
      overflow: hidden;
      aspect-ratio: 1;
      border: 1px solid var(--light);
      border-radius: 50%;
      rotate: -45deg;
  
      .button-icon {
        color: var(--light);
        font-size: var(--step-1);
        height: 100%;
        width: 100%;
        transition: 0.5s ease;
      }
    }

    .button-content {
      color: var(--light);
      font-size: var(--step-2);
      line-height: 1;
      transition: 0.5s ease;
      text-decoration: underline;
    }
  }
}

.social-icon {
  font-size: 32px;
  color: var(--light);
  opacity: 0.8;
  transition: 0.3s ease;
  cursor: pointer;
  
  &:hover {
    opacity: 1;
  }

  @media screen and (max-width: 1100px) {
    font-size: 24px;
  }
}