@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@font-face {
  font-family: 'Didot';
  src: url('/fonts/didot.otf') format('opentype'),
       url('/fonts/didot-bold.otf') format('opentype'),
       url('/fonts/didot-italic.otf') format('opentype');
}

@font-face {
  font-family: 'Didot Title';
  src: url('/fonts/didot-title.otf') format('opentype');
}

:root {
  font-family: 'Open Sans', system-ui, Avenir, Helvetica, Arial, sans-serif;

  --light: #f4f3f2;
  --dark: #222;
  --primary-color: #F6E9E4;
  --accent: #FBAD8F;

  /* 12-16
  16-24
  40-60 */


  --step--2: clamp(0.5556rem, 0.7143rem + -0.0992vw, 0.6944rem);
  --step--1: clamp(0.8333rem, 0.8333rem + 0vw, 0.8333rem);
  --step-0: clamp(1rem, 0.95rem + 0.25vw, 1.25rem); /**/
  --step-1: clamp(1.2rem, 1.1036rem + 0.4821vw, 1.875rem);
  --step-2: clamp(1.44rem, 1.2439rem + 0.9804vw, 2.8125rem);
  --step-3: clamp(1.728rem, 1.3722rem + 1.7791vw, 4.2188rem);
  --step-4: clamp(2.0736rem, 1.4658rem + 3.0389vw, 6.3281rem);
  --step-5: clamp(2.4883rem, 1.4878rem + 5.0028vw, 9.4922rem); 
  --step-6: clamp(6.25rem, 2.5rem + 18.75vw, 25rem); /**/

  --step-0-1: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);

  /* @link https://utopia.fyi/space/calculator?c=320,16,1.2,2560,20,1.5,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|4,s-l&g=s,l,xl,12 */

  --space-3xs: clamp(0.3125rem, 0.125rem + 0.9375vw, 1.25rem);
  --space-2xs: clamp(0.625rem, 0.25rem + 1.875vw, 2.5rem);
  --space-xs: clamp(0.9375rem, 0.375rem + 2.8125vw, 3.75rem);
  --space-s: clamp(1.25rem, 0.5rem + 3.75vw, 5rem);
  --space-m: clamp(1.875rem, 0.75rem + 5.625vw, 7.5rem);
  --space-l: clamp(2.5rem, 1rem + 7.5vw, 10rem);
  --space-xl: clamp(3.75rem, 1.5rem + 11.25vw, 15rem);
  --space-2xl: clamp(5rem, 2rem + 15vw, 20rem);
  --space-3xl: clamp(5rem, 2rem + 15vw, 20rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.3125rem, -0.125rem + 2.1875vw, 2.5rem);
  --space-2xs-xs: clamp(0.625rem, 0rem + 3.125vw, 3.75rem);
  --space-xs-s: clamp(0.9375rem, 0.125rem + 4.0625vw, 5rem);
  --space-s-m: clamp(1.25rem, 0rem + 6.25vw, 7.5rem);
  --space-m-l: clamp(1.875rem, 0.25rem + 8.125vw, 10rem);
  --space-l-xl: clamp(2.5rem, 0rem + 12.5vw, 15rem);
  --space-xl-2xl: clamp(3.75rem, 0.5rem + 16.25vw, 20rem);
  --space-2xl-3xl: clamp(5rem, 2rem + 15vw, 20rem);

  --space-2xs-s: clamp(1.25rem, 1.1rem + 0.75vw, 2rem);
  --space-xs-m: clamp(1.25rem, 1rem + 1.25vw, 2.5rem);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: antialiased;
}

body {
  position: relative;
  color: var(--light);
  background-color: var(--dark);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::selection {
  background-color: var(--accent);
}

p {
  font-size: var(--step-0);
  opacity: 0.7;
}
h6 {
  font-size: var(--step-1);
}
h5 {
  font-size: var(--step-2);
  letter-spacing: -1px;
}
h4 {
  font-size: var(--step-3);
  letter-spacing: -2px;
}
h3 {
  font-size: var(--step-4);
  letter-spacing: -1px;
}
h2 {
  font-size: var(--step-5);
  letter-spacing: -5px;
  font-weight: 500;
}
h1 {
  font-family: 'Didot';
  font-size: 8.75rem;
  letter-spacing: -10px;
  font-weight: 500;
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: fit-content;
  padding: 0.5rem 1rem;
  /* border: 1px solid rgba(244, 243 ,242, 0.8); */
  border: transparent;
  background-color: var(--light);
  color: var(--dark);
  cursor: pointer;
  font-family: "Didot";
  font-size: 1.5rem;
  font-weight: 400;
  border-radius: 50px;
  transition: 0.3s ease;
  height: 40px;
  width: 120px;
}

.button:hover {
  /* border: 1px solid var(--light); */
}

a {
  text-decoration: none;
}

.social-icon {
  display: flex;
  color: var(--text-color);
  opacity: 0.6;
  width: 32px;
  aspect-ratio: 1;
  font-size: 32px;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
   opacity: 1; 
   /* translate: 0 -4px;   */
  }
}

.image-wrapper {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}